/**********************************************************
 * RESET
 *********************************************************/
* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
/**********************************************************
 * GERAL
 *********************************************************/
html, body {
	background:#F0F0F0;
	font-family: helvetica;
    margin: 0;
    min-width: 320px;
    min-height: 480px;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.clear {
	clear:both;
}
a {
	color: rgb(52, 53, 56);
	text-decoration: none;
}
/**********************************************************
 * BARRA SUPERIOR
 *********************************************************/
#barra {
	position: absolute;
	width: 100%;
	height: 10%;
	color: #FFF;
	background-color: #1abc9c;
	margin: 0;
	padding: 0.1em 0.5em 0.1em;
    cursor: pointer;
    z-index: 50;
}
#barra .icon-menu {
	color: #FFF;
	position: absolute;
	right: 0;
	padding-right: 10px;
	line-height: 0;
	font-size: 3em;
    top: 50%;

	-webkit-transition: right .25s linear;
	-moz-transition: right .25s linear;
	-ms-transition: right .25s linear;
	transition: right .25s linear;
}
#barra .icon-menu:before {
	background: #1abc9c;
    z-index: 60;
}
#titleView {
	float: left;
	width: 80%;
	line-height: 1.5em;
	font-size: 2em;
}
menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 220px;
	height: 100%;
	padding-top: 10px;
	background: #1abc9c;
	box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3);
    z-index: 60;
/*
	Aqui você esconde o menu para fora da tela 
	O valor é exatamente a largura da sidebar
*/
	-webkit-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-ms-transform: translateX(220px);
	transform: translateX(220px);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}
/*
   Com a classe menu-active na tag body
*/
.menu-active menu {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.menu-active #barra .icon-menu {
	right: 210px;
}
.menu-active .menu-anchor {background: #1abc9c}

menu li a {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin: 0 10px;
	padding: 10px;
	color: #FFF;
	text-decoration: none;
}

menu li a:hover {
	background: #FFF;
	color: #1abc9c;
}
/**********************************************************
 * VIEWS
 *********************************************************/
.view {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	margin-top: 10%;
	padding: 5%;
}

/**********************************************************
 * VIEWS - INICIO
 *********************************************************/
#inicio {
	margin: 0;
	height: 100%;
	position: absolute;
	background-color: #555;
	background-image: url(../img/vacabrava.jpg);
	background-size: cover;
	font-size: 2em;
    z-index: 900;
}
#inicio, #inicio a {
	color: white;
	text-decoration: none;
}
.saudacao {
	width: 95%;
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: right;
}
.saudacao .icon-arrow-right {
	display: none;
}
/**********************************************************
 * VIEWS - SOBRE
 *********************************************************/
 .social {
 	margin-top: 10%;
 	text-align: center;
 }
 .social li {
 	display: inline-block;
 	padding: 3%;
 }
 .social li span {
 	font-size: 2em;
 }
 .social li p {
 	font-size: 1em;
 }
/**********************************************************
 * VIEWS - SOBRE
 *********************************************************/
#dev {
	position: relative;
	bottom: 0;
	margin:  20px auto;
	padding: 0.1em 0.5em 0.1em;
    cursor: pointer;
    z-index: 30;
	display: block;
	border-top: 1px solid #bed6be;
	text-align: center;
	font-size: 2em;
}
#dev p {
	font-size: 0.4em;
}
/**********************************************************
 * VIEWS - ORGANIZAÇÃO
 *********************************************************/
 #organizacao h2 {
 	border-bottom: 1px dashed green;
 	margin: 2% 0 3%;
 }
 #organizacao ul {
 	margin-left: 5%;
 }
 #organizacao li {
 	margin:1% 0;
 }

/**********************************************************
 * VIEWS - PATROCÍNIO
 *********************************************************/
#patrocinio span, #patrocinio a, #patrocinio img {
	display: block;
	text-align: center;
}
#patrocinio span.nome {
	font-size: 1.5em;
}
#patrocinio span.nopatr {
	background: #CCDDC9;
}
#patrocinio img {
	height: 50px;
	width: auto;
	margin: 0 auto;
}
#patrocinio a {
	margin-bottom: 50px;
}
/**********************************************************
 * VIEWS - PROGRAMAÇÃO
 *********************************************************/
 .dia-prog {
 	font-size: 2em;
 	background: #CAD2D7;
 	margin: 20px 0 5px;
 	padding-left: 10px;
 }
.lista-palestrantes li {
	display: block;
	width: 100%;
}

.lista-palestrantes .sala {
	background: #519151;
	padding: 5px;
	display: inline-block;
	color: white;
}
.lista-palestrantes .palestrante {
	background: #BFD9BA;
	padding: 5px;
	display: inline-block;
}
.lista-palestrantes .titulo {
	background: #3498db;
	padding: 5px;
	display: inline-block;
	color: white;
}
.lista-palestrantes .descricao {
	background: #FCFF8C;
	padding: 5px;
	display: block;
	margin-bottom: 10px;
}
/**********************************************************
 * VIEWS - LOCAL
 *********************************************************/
 
  #map-canvas {
  	display: none;
  	position: absolute;
  	bottom: 5%;
  	left: 5%;
    width: 90%;
    height: 50%;
    background-color: #CCC;
  }
